@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--highlight: #ba945754;
	--blue: #6788c5;
	--black: #0c1316;
	--gray: #dcdcdc;
	--darkgray: #696969;
}

body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: "Poppins", sans-serif;
	display: flex;
	font-size: 18px;
	padding: 60px 0;
	gap: 20px;
	color: var(--black);
}

a {
	color: var(--blue);
	width: fit-content;
	text-decoration: none;
}

a:hover {
	filter: hue-rotate(180deg);
}

h1,
h2 {
	font-size: 32px;
}

h1,
h2,
h3 {
	margin: 0 0 10px 0;
}

p {
	margin: 0;
}

article,
.sidebar {
	padding: 20px;
}

.sidebar {
	width: 350px;
	min-width: 350px;
	box-sizing: border-box;
}

.sidebar nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.sidebar nav hr {
	width: 100%;
	border: 1px solid var(--gray);
}

.sidebar .quickinfo {
	background: var(--gray);
	padding: 10px;
	margin: 0 -10px 20px -10px;
}

.sidebar .quickinfo p {
	font-size: 16px;
}

.sidebar form {
	margin: 0 -10px;
	display: flex;
	align-items: center;
}

.sidebar form input {
	background-color: var(--gray);
	box-sizing: border-box;
	border: none;
	font-family: inherit;
	padding: 10px;
	font-size: 16px;
	flex: 1;
	width: 100%;
}

.sidebar form input:focus {
	outline: 2px var(--blue) solid;
}

.sidebar form button {
	width: 24px;
	height: 24px;
	border: none;
	background-color: var(--gray);
	background-image: url(../images/search_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
	margin-left: -34px;
}

article {
	flex: 1;
	position: relative;
}

article .paths {
	margin-bottom: 20px;
	display: flex;
	font-size: 16px;
	flex-wrap: wrap;
}

article .paths a {
	font-style: italic;
	display: block;
}

article .paths a:before {
	content: ">";
	color: black;
	margin: 0 10px;
}

article .paths a:first-child:before {
	content: "";
	margin: 0;
}

article p {
	margin-bottom: 10px;
	text-align: justify;
}

article p .cite {
	font-size: 12px;
	vertical-align: super;
}

article p .cite:before {
	content: "[";
}

article p .cite:after {
	content: "]";
}

article p .highlight {
	background: var(--highlight);
	padding: 0 3px;
	margin: -3px;
}

article ol#citations {
	list-style: none;
	padding: 0;
	font-size: 16px;
}

article ol#citations li {
	margin-left: 50px;
	margin-bottom: 10px;
}

article ol#citations li .number {
	position: absolute;
	margin-left: -50px;
	user-select: none;
}

article .info {
	color: var(--darkgray);
	font-size: 14px;
	font-style: italic;
}

article .info::before {
	content: "Last modified ";
}

article .info address {
	display: inline;
}

article #user-box {
	display: flex;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px 0;
	gap: 10px;
	text-align: right;
	align-items: center;
	line-height: 1;
	font-size: 16px;
	background: white;
}

article #user-box .avatar {
	width: 48px;
	height: 48px;
	background-image: url(../images/fluffy_paincake.png);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

article #user-box a {
	font-size: 14px;
}

article #user-box #toggle {
	background: var(--gray);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: none;
	user-select: none;
}

article #user-box #toggle::before {
	content: "Show ";
}

article #user-box #toggle.active::before {
	content: "Hide ";
}

article #user-box #toggle:hover {
	outline: 2px var(--blue) solid;
}

article #user-box .spacer {
	flex: 1;
}

article .embed {
	background: var(--gray);
	padding: 5px;
	margin-bottom: 10px;
	font-size: 14px;
}

article .embed.right {
	float: right;
	margin-left: 20px;
	width: 350px;
}

article .embed img {
	width: 100%;
	margin-bottom: 5px;
}

article #url {
	color: var(--darkgray);
}

::selection {
	background: var(--highlight);
	color: var(--black);
}

@media screen and (max-width: 1200px) {
	article #user-box {
		position: unset;
		width: 100%;
		border-top: 2px solid var(--gray);
		margin-top: 30px;
		justify-content: end;
	}
}

@media screen and (max-width: 950px) {
	body {
		gap: 0;
	}

	.sidebar {
		width: 300px;
		min-width: 300px;
	}

	article .embed.right {
		float: unset;
		margin-left: unset;
		width: unset;
	}
}

@media screen and (max-width: 750px) {
	body {
		flex-direction: column;
		padding: 30px 0;
	}

	.sidebar {
		width: 100%;
		min-width: unset;
		box-sizing: border-box;
	}

	.sidebar h1 {
		text-align: center;
		font-size: 42px;
	}

	.sidebar nav {
		flex-direction: row;
		gap: 15px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.sidebar .quickinfo.mobile-hidden {
		display: none;
	}

	.sidebar form,
	.sidebar .quickinfo {
		margin: 0;
	}

	article #user-box #toggle {
		display: block;
	}

	article .info::before {
		content: "Modified ";
	}
}

@media screen and (max-width: 400px) {
	article #user-box #toggle::before {
		content: unset;
	}

	article #user-box #toggle.active::before {
		content: unset;
	}
}
